@font-face {
   font-family: 'AnmolLipi';
   font-display: swap;
   src: url('file:///C:/Users/ADMIN/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-23_085120/fonts/AnmolLipi/font.ttf');
}
